.input-group-text{
    border-radius: 5px !important;
    margin: 0px;
    background-color: transparent !important;


}
.form-control {
    border-radius: 5px !important;
    margin-left: 1px !important;
}

.form-group{
    margin-top: 10px !important;
}
label{
    color: #000 !important;
    font-weight: 500 !important;
    font-size: 1em !important;
    margin-left: 42px !important;
    opacity: 1 !important;

}
.card-title {
    color: #E60011 !important;
    margin-left: 62px !important;
    margin-bottom: 0 !important;
    text-transform: uppercase !important;
    margin-top: 20px !important;
}
.fas{
    color: #E60011 !important;
    margin-left: -10px !important;
    margin-right: 8px !important;
    background-opacity: 0 !important;
    opacity: 1 !important;
}
button{
    margin-left: 42px !important;
    margin-top: 30px !important;
}
.label-control{
    margin-left: 40px !important;

}
table{
    text-align: center !important;
}
thead{
    color: #E60011 !important;
}
.alert .alert-success{
    color: #30a64a !important;
}
