
.input-group-text{
    border-radius: 5px !important;
    margin: 0px;
    background-color: transparent !important;


}
.form-control {
    border-radius: 5px !important;
    margin-left: 1px !important;
}

.form-group{
    margin-top: 10px !important;
}
label{
    color: #000 !important;
    font-weight: 600 !important;
    font-size: 1em !important;
    margin-left: 42px !important;
    opacity: 1 !important;

}
.card-title {
    color: #E60011 !important;
    margin-left: 62px !important;
    margin-bottom: 0 !important;
    text-transform: uppercase !important;
    margin-top: 20px !important;
}
.fas{
    color: #E60011 !important;
    margin-left: -10px !important;
    margin-right: 8px !important;
    background-opacity: 0 !important;
    opacity: 1 !important;
}
button{
    margin-left: 42px !important;
    margin-top: 30px !important;
}

table{
    text-align: center !important;
}
table.dataTable thead .sorting{
    color: #E60011 !important;
    font-size: 1.25em !important;
    font-weight: 300 !important;
}
input.form-control.form-control-sm {
    margin-left: 10px !important;
}

table.dataTable {
    border-style: none !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.alert .alert-success{
    color: #30a64a !important;
}
.required-field::after {
    content: "*";
    color: #E60011;
    margin-left:2px
}
.footer {
    position: absolute !important;
    bottom: 0 !important;
    background: #E60011 !important;
    color: #fff !important;
    text-align: center !important;
    vertical-align: middle !important;
    line-height: 50px !important;
    margin: 0 !important;
    width: 100% !important;
}
.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: auto !important;
    margin-left: auto !important;
}
select{
    border: 1px solid #888888 !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05) !important;
}

.nav-link {
    margin-top: 20px;
}
.navbar .input-group {
    margin-top: 20px !important;
}
body {
    list-style-type: none !important;
}
.logo {
    margin-top: 20px !important;
}
table.dataTable.no-footer {
    border-bottom: transparent !important;
}
tbody, td, tfoot, th, thead, tr{
    border-bottom: transparent !important;
}
.dataTables_wrapper .dataTables_length select{
    width: 70px !important;
}
.sorting{
color: #E60011 !important;
font-size: 1.25em !important;
font-weight: 300 !important;
}
.stats-title{
    margin-top: 17px !important;
    margin-left: 5px !important;
    margin-right: 0 !important;
}
